* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #D3D3D3;
}

.cleaner {
  clear: both;
}

header {
  width: 100%;
  height: 85px;
  background-color: #969696;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px auto;
  z-index: 1;
}
@media (max-width: 770px) {
  header {
    padding: 20px;
    margin-top: -10px;
    padding-right: 100px;
  }
}
@media (max-width: 475px) {
  header {
    padding-right: 0px;
  }
}
header .logo img {
  float: left;
  width: 100px;
  margin: 18px 40px;
}
@media (max-width: 1024px) {
  header .logo img {
    display: none;
  }
}
header .navigation {
  list-style-type: none;
}
header li {
  float: left;
  text-transform: uppercase;
  width: 100px;
  display: flex;
  margin: 30px 10px 0px 120px;
}
@media (max-width: 1024px) {
  header li {
    margin-right: -10px;
    margin-left: 90px;
  }
}
@media (max-width: 770px) {
  header li {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
  }
}
@media (max-width: 450px) {
  header li {
    display: flex;
    margin-right: -20px;
    margin-left: -10px;
    margin-top: 20px;
  }
}
header a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
}
@media (max-width: 770px) {
  header a {
    font-size: 17px;
  }
}
@media (max-width: 450px) {
  header a {
    font-size: 12px;
  }
}
header a:hover {
  color: black;
}

#star {
  width: 100%;
  height: 500px;
  background-image: url(../img/pozadina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#star .home1 {
  height: 100%;
  position: relative;
}
#star .home1 #hometext {
  text-align: center;
  padding: 15px 0px;
  bottom: 10%;
  position: absolute;
}
#star .home1 .homebg {
  width: 50%;
  position: relative;
  top: 25%;
  left: 25%;
}
#star .home1 h2 {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 6px;
  font-weight: 720;
}
@media (max-width: 485px) {
  #star .home1 h2 {
    font-size: 20px;
    margin-top: 10px;
  }
}
#star .home1 p {
  font-size: 32px;
  color: black;
}
@media (max-width: 485px) {
  #star .home1 p {
    font-size: 16px;
    font-weight: 50px;
  }
}
#star .home1 button {
  padding: 15px;
  font-size: 25px;
  width: 150px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: gray;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}
#star .home1 button:hover {
  transform: translateY(-5px);
  background-color: black;
  color: gray;
  cursor: pointer;
}
@media (max-width: 770px) {
  #star .home1 button {
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
  }
}
@media (max-width: 485px) {
  #star .home1 button {
    width: 90px;
    font-size: 14px;
  }
}

#projects {
  height: 500px;
  color: #000;
  background-color: #e0e0e4;
  margin-top: 50px;
}
@media (max-width: 780px) {
  #projects {
    height: 500px;
  }
}
@media (max-width: 550px) {
  #projects {
    height: 650px;
  }
}
#projects h2 {
  padding-top: 10px;
  text-align: center;
  font-size: 50px;
}
#projects .container {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 45px;
  z-index: 0;
}
@media (max-width: 780px) {
  #projects .container {
    display: flex;
    margin-top: 55px;
  }
}
@media (max-width: 485px) {
  #projects .container {
    display: block;
    margin-top: 0%;
  }
}
#projects .container .project1 img {
  max-width: 90%;
  border-radius: 18px;
  outline: 1px solid gray;
  transition: all 0.4s;
}
@media (max-width: 780px) {
  #projects .container .project1 img {
    max-width: 90%;
    margin-left: -10px;
  }
}
#projects .container .project1 img:hover {
  transform: translateY(-15px);
  cursor: pointer;
}
#projects .container .project1 p {
  text-align: center;
  padding-bottom: 50px;
  margin-right: 90px;
  font-size: 25px;
  color: black;
}
@media (max-width: 780px) {
  #projects .container .project1 p {
    max-width: 50%;
    margin-left: 15%;
  }
}
@media (max-width: 583px) {
  #projects .container .project1 p {
    font-size: 20px;
    margin-left: 17%;
  }
}
#projects .container .project2 img {
  max-width: 90%;
  border-radius: 18px;
  outline: 1px solid gray;
  transition: all 0.4s;
}
@media (max-width: 780px) {
  #projects .container .project2 img {
    max-width: 90%;
  }
}
#projects .container .project2 img:hover {
  transform: translateY(-15px);
  cursor: pointer;
}
#projects .container .project2 p {
  padding-bottom: 50px;
  text-align: center;
  font-size: 25px;
  color: black;
}
@media (max-width: 780px) {
  #projects .container .project2 p {
    max-width: 50%;
    margin-left: 5%;
  }
}
@media (max-width: 583px) {
  #projects .container .project2 p {
    font-size: 20px;
    margin-left: 14%;
  }
}

#skills {
  margin-top: 60px;
  height: 600px;
}
@media (max-width: 780px) {
  #skills {
    height: 100px;
  }
}
@media (max-width: 583px) {
  #skills {
    margin-top: 20px;
  }
}
#skills h2 {
  text-align: center;
  font-size: 50px;
  outline-color: black;
}
#skills .container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
@media (max-width: 780px) {
  #skills .container {
    display: block;
  }
}
#skills .skill {
  width: 30%;
  margin-top: 50px;
  border: 1px solid black;
  padding: 20px;
  background-color: #595454;
  outline: 1;
  border-radius: 17px;
  color: white;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  box-shadow: black 0px 1px 2px 0px, black 0px 2px 6px 2px;
}
@media (max-width: 780px) {
  #skills .skill {
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
  }
}
@media (max-width: 583px) {
  #skills .skill {
    width: 80%;
    margin-left: 10%;
  }
}
#skills .skill .first-row {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 15px;
  color: black;
}
@media (max-width: 450px) {
  #skills .skill .first-row {
    font-size: 21px;
  }
}
#skills .skill i {
  font-size: 60px;
  color: black;
}

#about-me {
  height: 400px;
  color: white;
  background-color: #3e4547;
  border-radius: 15px;
  width: 80%;
  justify-content: center;
  margin-bottom: 70px;
  margin-left: 10%;
  margin-top: 150px;
}
@media (max-width: 920px) {
  #about-me {
    height: 700px;
  }
}
@media (max-width: 683px) {
  #about-me {
    height: 480px;
  }
}
#about-me .o-meni {
  padding: 40px;
  text-align: center;
  display: inline-block;
  justify-content: space-evenly;
  width: 50%;
  font-weight: 400px;
  font-size: 20px;
  padding-top: 10px;
  margin-left: 85px;
  margin-top: 30px;
}
#about-me .o-meni h2 {
  font-size: 35px;
}
@media (max-width: 920px) {
  #about-me .o-meni {
    display: block;
    width: 80%;
  }
}
@media (max-width: 683px) {
  #about-me .o-meni {
    font-size: 15px;
    padding: 20px;
    margin-left: 30px;
  }
}
#about-me .o-meni-slika {
  margin-top: 55px;
  margin-right: 150px;
  width: 20%;
  float: right;
}
@media (max-width: 1080px) {
  #about-me .o-meni-slika {
    margin-top: 95px;
    margin-right: 100px;
  }
}
@media (max-width: 940px) {
  #about-me .o-meni-slika {
    margin-right: 50px;
    margin-top: 150px;
  }
}
@media (max-width: 920px) {
  #about-me .o-meni-slika {
    width: 30%;
    float: none;
    margin-left: 40%;
    margin-top: 2%;
    margin-right: 0;
  }
  #about-me .o-meni-slika img {
    width: 120%;
  }
}
#about-me .o-meni-slika img {
  max-width: 100%;
  border-radius: 10px;
}

#contact {
  height: 900px;
  color: #000;
}
#contact h2 {
  text-align: center;
  font-size: 50px;
}
#contact .infon {
  margin-top: 65px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#contact .infon .info {
  width: 320px;
  height: 180px;
  line-height: 50px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: #3e4547;
}
@media (max-width: 850px) {
  #contact .infon .info {
    width: 150px;
    height: 150px;
    line-height: 32px;
    font-size: 10px;
  }
}
@media (max-width: 460px) {
  #contact .infon .info {
    width: 140px;
    height: 100px;
    line-height: 20px;
    font-size: 10px;
  }
}
#contact .infon .info i {
  margin-top: 15px;
  font-size: 30px;
}
@media (max-width: 460px) {
  #contact .infon .info i {
    font-size: 18px;
  }
}
#contact form table {
  margin-top: 50px;
  width: 50%;
  margin-left: 25%;
  border-spacing: 15px;
  border-collapse: separate;
  display: table;
  border-color: gray;
}
#contact form table .center-text {
  text-align: center;
}
#contact form table input {
  background-color: #e1e1e2;
  border: none;
  outline: 1px solid gray;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}
@media (max-width: 390px) {
  #contact form table {
    width: 80%;
    margin-left: 10%;
  }
}
#contact form table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
#contact form table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
#contact form table tr td {
  display: table-cell;
  vertical-align: inherit;
}
#contact form table tr input {
  background-color: #e1e1e2;
  border: none;
  outline: 1px solid gray;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  width: 100%;
}
#contact form table tr textarea {
  background-color: #e1e1e2;
  border: none;
  outline: 1px solid gray;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  width: 100%;
}
#contact form table tr button {
  width: 30%;
  background-color: #e1e1e2;
  border: none;
  outline: 1px solid gray;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  transition: 0.3s;
}
#contact form table tr button:hover {
  background-color: gray;
  color: white;
}

footer {
  background-color: #969696;
  height: 80px;
}
footer .icons .lista1 {
  width: 20%;
  display: flex;
}
@media (max-width: 980px) {
  footer .icons .lista1 {
    margin-left: 15%;
  }
}
@media (max-width: 800px) {
  footer .icons .lista1 {
    margin-left: 5%;
  }
}
@media (max-width: 730px) {
  footer .icons .lista1 {
    display: none;
  }
}
footer .icons .lista1 li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 50px;
}
footer .icons .lista1 li a {
  text-decoration: none;
  color: black;
  transition: 0, 3s;
}
footer .icons .lista2 {
  width: 20%;
  display: flex;
  float: right;
  margin-top: -3.5%;
  margin-right: 90px;
}
@media (max-width: 1240px) {
  footer .icons .lista2 {
    margin-top: -4%;
    margin-right: 15%;
  }
}
@media (max-width: 950px) {
  footer .icons .lista2 {
    margin-top: -5%;
    margin-right: 30%;
  }
}
@media (max-width: 800px) {
  footer .icons .lista2 {
    margin-top: -5.5%;
    margin-right: 25%;
  }
}
@media (max-width: 730px) {
  footer .icons .lista2 {
    margin-top: 3%;
    margin-right: 55%;
  }
}
@media (max-width: 485px) {
  footer .icons .lista2 {
    margin-right: 70%;
  }
}
footer .icons .lista2 li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 30px;
  padding-left: 50px;
}
footer .icons .lista2 li a {
  text-decoration: none;
  color: black;
}
footer p {
  text-align: center;
  color: black;
  width: 20%;
  margin-top: -45px;
  margin-left: 40%;
}
@media (max-width: 1240px) {
  footer p {
    width: 25%;
  }
}
@media (max-width: 950px) {
  footer p {
    display: none;
  }
}
footer p a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */